:root {
  --brand-teal: #008080;
  --brand-gray: #B0A8A8;
  --brand-orange: #D96F3B;
  --brand-dark: #212121;
  --brand-light: #f8f9fa;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--brand-dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
